<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="admission">
            <h2><span jhiTranslate="hospitalManagementSystemApp.admission.detail.title">Admission</span> {{ admission.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="hospitalManagementSystemApp.admission.isActive">Is Active</span></dt>
                <dd>
                    <span>{{ admission.isActive }}</span>
                </dd>
                <dt><span jhiTranslate="hospitalManagementSystemApp.admission.fromDateTime">From Date Time</span></dt>
                <dd>
                    <span>{{ admission.fromDateTime }}</span>
                </dd>
                <dt><span jhiTranslate="hospitalManagementSystemApp.admission.toDateTime">To Date Time</span></dt>
                <dd>
                    <span>{{ admission.toDateTime }}</span>
                </dd>
                <dt><span jhiTranslate="hospitalManagementSystemApp.admission.beds">Beds</span></dt>
                <dd>
                    <span *ngFor="let beds of admission.beds; let last = last">
                        <a [routerLink]="['/bed', beds?.id, 'view']">{{ beds.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="hospitalManagementSystemApp.admission.service">Service</span></dt>
                <dd>
                    <div *ngIf="admission.service">
                        <a [routerLink]="['/consultation-resource', admission.service?.id, 'view']">{{ admission.service?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/admission', admission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
