<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-staff-heading" jhiTranslate="hospitalManagementSystemApp.staff.home.createOrEditLabel">Create or edit a Staff</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.username" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                           formControlName="username"/>
                    <div *ngIf="editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.fullName" for="field_fullName">Full Name</label>
                    <input type="text" class="form-control" name="fullName" id="field_fullName"
                           formControlName="fullName"/>
                    <div *ngIf="editForm.get('fullName')!.invalid && (editForm.get('fullName')!.dirty || editForm.get('fullName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fullName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.contacts" for="field_contacts">Contacts</label>
                    <input type="text" class="form-control" name="contacts" id="field_contacts"
                           formControlName="contacts"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.imageUrl" for="field_imageUrl">Image Url</label>
                    <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                           formControlName="imageUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.level" for="field_level">Level</label>
                    <input type="text" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           formControlName="isActive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.isAcailable" for="field_isAcailable">Is Acailable</label>
                    <input type="checkbox" class="form-control" name="isAcailable" id="field_isAcailable"
                           formControlName="isAcailable"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="hospitalManagementSystemApp.staff.department" for="field_department">Department</label>
                    <select class="form-control" id="field_department" name="department" formControlName="department">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id === editForm.get('department')!.value?.id ? editForm.get('department')!.value : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackById">{{ departmentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
